//- Generic Mix-ins used on Admin pages

//- Get ADMIN stylesheets
block header
  link(rel='stylesheet' href='/stylesheets/admin.css')

//- Formats a value in key/value pairs
mixin formatValue(key, val, editable)
  - var detailCls = 'detailVal' + (editable ? ' unlocked' : ' locked')

  //- NUMBERS
  if (typeof val === 'number')
    span.number(class=detailCls id=key role='textbox') !{val.toString()}
  
  //- BOOL
  else if (typeof val === 'boolean')
    span(class=detailCls id=key role='textbox') !{val.toString()}

  //- EMPTY VALUES
  else if !val || (Array.isArray(val) && !val.length)
    span.empty(class=detailCls id=key role='textbox') Empty

  //- LINKS
  else if val.startsWith && val.startsWith('http')
    a(class=detailCls id=key role='textbox' href=val target='_blank')= val

  //- UUIDs
  else if isUuid(val) && key != 'scryfallId'
    a(class=detailCls id=key role='textbox' href='../'+val+'/')= val

  //- DATEs
  else if (val instanceof Date)
    span.date(class=detailCls id=key role='textbox') !{val.toLocaleString()}

  //- ARRAYs
  else if Array.isArray(val)
    span.arrayWrapper(class=detailCls id=key role='textbox')
      each entry in val
        if isUuid(entry)
          a.detailArr(href='../'+entry+'/')= entry
        else if (typeof entry === 'string')
          span.detailArr !{symbFix(entry)}
        else
          span.detailArr !{entry}

  //- STRINGS
  else if (typeof val === 'string')
    span(class=detailCls id=key role='textbox') !{symbFix(val)}

  //- OTHER
  else
    span(class=detailCls id=key role='textbox') !{val.toString()}


//- Displays list of Object values
mixin detailList(data, keys, disableEditList=false)
  .detailList
    each key in keys
      if key == 'br'
        span.detailKey.spacer
        span.detailVal.spacer
      else if key == 'setCode' || key == 'code'
        span.detailKey= varName(key)+':'
        a.detailVal#setCodeValue(href='../../set/'+data[key]+'/' target='_blank')= data[key]
      else
        span.detailKey= varName(key)+':'
        +formatValue(key, data[key], disableEditList && !disableEditList.includes(key))



//- Check box
mixin checkbox(itemId, labelText, isChecked, wrapper)
  span(class=wrapper id=itemId+'Wrapper')
    input(type='checkbox' id=itemId name=itemId checked=isChecked)
    label(for=itemId)= labelText

//- Card info (Oneline)
mixin cardOneLine(card,linkPrefix,newWindow=true)
  - var scryImg = (card.noGath || !card.multiverseId) ? '*' : ''
  //- class=card.bgdColor
  a.cardOneLine(href=linkPrefix+'card/'+card.uuid+'/' target=newWindow ? '_blank' : '')= card.name + scryImg

//- Land info (regex = /main-/ or /side-/)
mixin lands(landData, colorRegex)
  each land in landData
    - var landColor = land._id.replace(colorRegex,'')
    if landColor.length == 1
      .landDetailBox(id=land._id)
        i.landIcon.ms.ms-cost.ms-shadow(class = 'ms-'+landColor)
        span.landCount= land.count