extends ../generic/layout


block scripts
    script(src='/javascripts/admin-panel-listeners.js')

block content
    h1#panelTitle Admin Panel
    hr#headerDivider
    #panelWrapper

        //- Sessions box
        form#sessionsContainer.panelContainer(action='session' method='post')
            label.containerTitle(for='sessionId') Drafts
            select.panelSelect#sessionBox(name='sessionId' multiple=true)
                each session in sessionList
                    - var statusLine = session.status
                    if draftStatus.isIn(session.status)
                        - statusLine += '['+(session.round + 1)+']'
                    option(value=session.sessionId) #{session.date} #{statusLine} #{session.name.substr(0,25)}[#{session.playerCount}]
            .panelButtons
                input.button#sessionDetails(type='submit' value='Details')
                input.button#sessionDelete(type='button' value='Delete')
                input.button#sessionDisconnect(type='button' value='Disconnect')
            .panelButtons#clearContainer
                input.button#sessionClear(type='button' value='Clear')
                label.clearText(for='clearSessions') drafts older than
                input.smallInputBox#clearDays(type='number' name='clearDays' min=0 value=7)
                label.clearText(for='clearDays') days. 

        //- Sets box
        form#setsContainer.panelContainer(action='set' method='post')
            label.containerTitle(for='sets') Sets
            select.panelSelect#setsBox(name='sets' multiple=true)
                each set in sets
                    - var setTitle = set.name
                    if set.block
                        - setTitle += ' ('+set.block+')'
                    if set.code == defaultSet
                        -setTitle += ' [default]'
                    option(class=(set.enabled ? 'setOn' : 'setOff') value=set.code)= setTitle + (set.enabled ? '' : ' [hidden]')
            .panelButtons
                input.button#setToggle(type='button' value='Toggle Visibility')
                input.button#setDefault(type='button' value='Make Default')
            .panelButtons#setsDefaultContainer
                input.button#setUpdate(type='button' value='Update All')
                input.button#setReset(type='button' value='Reset All')
                label.setsDefaultLabel(for='setsDefault') Visibility forced to:
                select.smallInputBox#setsDefault(name='setsDefault')
                    option(value=1 selected=true) On
                    option(value=0) Off

        //- MTG Database box
        form#dbContainer.panelContainer(action='updateDb' method='post')
            label.containerTitle(for='dbContainer') Update MtG Database
            .dbUrlLine
                input#setUrl(type='url' name='setUrl' value=url.set disabled=true)
                input.button#setEdit(type='button' value='Edit')
            .dbUrlLine
                input#cardUrl(type='url' name='cardUrl' value=url.card disabled=true)
                input.button#cardEdit(type='button' value='Edit')
            .dbCheckboxContainer
                .dbCheckbox
                    input#updateSets(type='checkbox' name='updateSets' checked=true)
                    label(for='updateSets') Update Set database
                .dbCheckbox
                    input#updateCards(type='checkbox' name='updateCards' checked=true)
                    label(for='updateCards') Update Card database
                .dbCheckbox
                    input#fixCardAlts(type='checkbox' name='fixCardAlts' checked=true)
                    label(for='fixCardAlts') Include Card alt data
                .dbCheckbox
                    input#skipCurrent(type='checkbox' name='skipCurrent' checked=true)
                    label(for='skipCurrent') Update outdated only
            .updateButtonContainer
                input.button#updateDbButton(type='button' value='Update')
                #dbLoading.loading.hidden
            #dbResult