extends ../generic/layout

block scripts
  script(src='/javascripts/admin-session-listeners.js')

//- Card info
mixin listCard(card)
  li.adminPlayerCard= card.name

//- Land info
mixin lands(landData, colorRegex)
  each land in landData
    - var landColor = land._id.replace(colorRegex,'')
    if landColor.length == 1
      .landDetailBox(id=land._id)
        i.landIcon.ms.ms-cost.ms-shadow(class = 'ms-'+landColor)
        span.landCount= land.count

//- Player Box
mixin player(pdata)
  div.adminPlayerContainer(id=pdata.cookieId)

    //- Player Info header
    .adminPlayerHeader
      span.playerPosition(class=pdata.isHost ? 'host' : '')= pdata.position + 1
      button.button.connectionButton(id=pdata.cookieId class=pdata.connected ? 'connected' : 'disconnected')
      h3= pdata.name
    .playerDetailLine
      span.playerId= pdata.cookieId
      span.playerDate= ' – '+pdata.date
    .playerDetailOpponent
      if pdata.opponent
        span.playerDetailTitle vs.
        span.playerDetailValue= pdata.opponent.name
        span.playerDetailValue.playerId= ' ('+pdata.opponent.id+')'
      else
        span.playerDetailTitle Bye
    
    //- Player Draft header
    if pdata.isDrafting
      .playerDraftDetailContainer
        span.playerDraftDetail
          span.playerDetailTitle Pick: 
          span.playerDetailValue= pdata.pick + 1
        span.playerDraftDetail
          span.playerDetailTitle Packs Held: 
          span.playerDetailValue= pdata.packsHeld
    
    //- Player Mainboard
    div.boardHeader(id=pdata.cookieId+'_mainHeader')
      h4#mainDetailTitle Mainboard (#{pdata.deck.main.length}/#{pdata.deck.main.length + pdata.landCount.main})
      span.hider(id=pdata.cookieId+'_mainHider') +
    div.cardList.hiddenGroup(id=pdata.cookieId+'_mainContainer')
      .mainLandData
        +lands(pdata.lands, /main-/)
      ul.adminPlayerDeck.mainDeck
        each card in pdata.deck.main
          +listCard(card)
    
    //- Player Sideboard
    div.boardHeader(id=pdata.cookieId+'_sideHeader')
      h4#sideDetailTitle Sideboard (#{pdata.deck.side.length}/#{pdata.deck.side.length + pdata.landCount.side})
      span.hider(id=pdata.cookieId+'_sideHider') +
    div.cardList.hiddenGroup(id=pdata.cookieId+'_sideContainer')
      .sideLandData
        +lands(pdata.lands, /side-/)
      ul.adminPlayerDeck.sideDeck
        each card in pdata.deck.side
          +listCard(card)

    //- Download link
    .playerFooter
      a.deckUrl(href='player/'+pdata.cookieId+'/downloadDeck') Download Deck List


block content
  
  //- Session header info
  .sessionDetail
    .sessionHeader
      h1= session.name
      a(href='../../') back
    .sessionInfo
      .sessionStatusContainer
        b.infoTitle Status: 
        span.sessionStatus= session.status
        if draftStatus.isIn(session.status)
          b.infoTitle Round: 
          span.sessionRound= session.round + 1
    .sessionDisconnectContainer
      input.button#sessionDisconnectAll(type='button' value='Disconnect All')
    .sessionExtraDetail
      .sessionUrl
        b.infoTitle URL:  
        a(href=session.url)= session.url
      .sessionTimeDate
        b.infoTitle Last Updated: 
        span= session.date + ' ' + session.time
      
  //- Player boxes
  .adminPlayers
    each playerData in players
      +player(playerData)


