extends ../generic/layout

include ./includes/adminMixins.pug

block scripts
    script(src='/javascripts/admin-set-listeners.js')

block content
  .subpanelHeader
    h1= setData.name
    a(href='../../').backLink back
    .panelButtons
      input.button#setToggle(type='button' value='Toggle Visibility')
      input.button#setDefault(type='button' value='Make Default')

  .detailContainer#flexVertical
    +detailList(setData, setDataKeys)

    .boosterDetail
      b Booster Layouts
      ul.boosterList
        li.boosterList
          a(href='all') All cards in set, 
          //- a(href='gath') Gatherer cards, 
          //- a(href='scry') Scryfall cards
        each booster in setData.boosters
          li.boosterList
            each sheet in booster.contents
              a(href=sheet.sheetName).detailArr #{sheet.sheetName} x#{sheet.count}
            span.weight= ' (Wt: '+booster.weight+')'
        li.boosterList.weight Total Weight: #{setData.boostersTotalWeight}

