extends layout

mixin numberList(name, text, def, max, min = 0)
  - var n = min
  div(id=name+'Form')
    label.settingsLabel(for=name)= text
    select.settingsPicker(id=name, type="text", name=name)
      while n < max
        option(value=n selected=(n == def))= n
        - n += 1

mixin colorPips(containerId)
  div.evenSpacedH(id=containerId)
    i.ms.ms-cost.ms-shadow.ms-w
    i.ms.ms-cost.ms-shadow.ms-u
    i.ms.ms-cost.ms-shadow.ms-b
    i.ms.ms-cost.ms-shadow.ms-r
    i.ms.ms-cost.ms-shadow.ms-g



block header 
  link(rel='stylesheet' href='/stylesheets/setup.css')

block scripts
    script(src='/javascripts/setup-listeners.js')

block content
  form#setupForm(action='/', method='post')
    div#setupHeader
      +colorPips('colorPipsHead')
      button#setupTitle.button(type='submit', name='start', disabled) Start a New Draft
      +colorPips('colorPipsHead')

      //- Select draft type
      div#draftTypeContainer
        input#cubeType.button(type='button', value='Cube')
        input#boosterType.button(type='button', value='Boosters')
        input#draftType(type='hidden' name='draftType' value='')

    div#allSettings
      +numberList('playerCount', 'Players', 8, 12, 2)

      //- Cube Settings
      div#cubeForm.settingsForm.hideForm
        +numberList('packCount', 'Packs per Round', 3, 10, 1)
        +numberList('packSize', 'Card per Pack', 15, 20, 1)
        div#cubeFileForm
          div
          label#cubeFileText(for='cubeFile') Upload Text File
          input#cubeFilePicker(type='file' name='cubeFile' accept='text/txt, text/csv')
        i Sorry, cube drafting is still under development.
        
      //- Booster Settings
      div#boosterForm.settingsForm.hideForm
        div#setPickerHeader
          label#setPickerForm.settingsLabel(for='setPicker') Choose a Set:
          input#addBooster.button(type='button', value='+')
          input#removeBooster.button(type='button', value='-')
        select#setPicker.settingsPicker(type='text', name='setCode')
          each set in sets
            option(value=set.code)=set.name

      //- +colorPips('colorPipsFoot')

